  
<template>
  <div class="home">
    <h1>Home</h1>
    <p>Welkom op de pagina van Dobby!</p>
    <p>Binnenkort zal hier uitleg over de applicatie komen te staan!</p>
    <p>Coming soon!</p>
  </div>
</template>